<div class="row justify-content-md-center">
  <form class="col-md-8 box" *ngIf="article">
    <fieldset>
      <h2><b>Review request for publication of scientific article</b></h2>
      <br>
      <div class="form-group row">
        <label for="title" class="control-label col-md-3"><b>Title</b></label>
        <div class="col-md-9">
          <input type="text" readonly="" class="form-control-plaintext" id="title" value={{article.title}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="keywords" class="control-label col-md-3"><b>Keywords</b></label>
        <div class="col-md-9">
          <input type="text" readonly="" class="form-control-plaintext" id="keywords" value={{article.keywords}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="abstract" class="control-label col-md-3"><b>Abstract</b></label>
        <div class="col-md-9">
          <textarea class="form-control" readonly="" id="abstract" name="abstract" value={{article.articleAbstract}} rows=5></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="area" class="control-label col-md-3"><b>Area</b></label>
        <div class="col-md-9">
          <input type="text" readonly="" class="form-control-plaintext" id="area" value={{article.area}}>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <button type="button" class="btn btn-primary" (click)="download()">Download</button>
        </div>
      </div>
      <br>
      <br>
      <h3><b>Reviews</b></h3>
      <div *ngFor="let review of reviews; let i = index">
        <h4>Review {{i+1}}</h4>
        <div class="form-group row">
          <label for="commentEditor" class="control-label col-md-3"><b>Comment for editor</b></label>
          <div class="col-md-9">
            <textarea class="form-control" readonly="" id="commentEditor" name="commentEditor" value={{review.commentEditor}} rows=5></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="commentAuthor" class="control-label col-md-3"><b>Comment for author</b></label>
          <div class="col-md-9">
            <textarea class="form-control" readonly="" id="commentAuthor" name="commentAuthor" value={{review.commentAuthor}} rows=5></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="suggestion" class="control-label col-md-3"><b>Suggestion</b></label>
          <div class="col-md-9">
            <input type="text" readonly="" class="form-control-plaintext" id="suggestion" value={{review.suggestion}}>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="form-group row" *ngIf="authorMessage">
        <label for="authorMessage" class="control-label col-md-3"><b>Author message</b></label>
        <div class="col-md-9">
          <textarea class="form-control" readonly="" id="authorMessage" name="authorMessage" value={{authorMessage}} rows=5></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <button type="button" class="btn btn-success" (click)="accept()">Accept article</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="smallCorrection()">Send to small correction</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="bigCorrection()">Send to big correction</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="reject()">Reject article</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="additionalReview()">Additional Review</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>