<div class="row justify-content-md-center">
  
  <div class="card border-primary box w-50" *ngIf="article">
    <div class="card-header">
      <h2><b>{{article.name}}</b></h2>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="card-title"><b>Journal: </b></h5>
          <p class="card-subtitle">{{article.journal}}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title"><b>Edition: </b></h5>
          <p class="card-subtitle">{{article.edition}}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title"><b>Scientific area: </b></h5>
          <p class="card-subtitle">{{article.area}}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title"><b>Author: </b></h5>
          <p class="card-subtitle">{{article.author}}</p>
        </li>
        <ul class="list-group list-group-flush" *ngIf="article.buy">
          <li class="list-group-item">
            <h5 class="card-title"><h3><b>Price: </b>{{article.price}} {{article.currency}}</h3></h5>
          </li>
        </ul>
      </ul>
    </div>
    <div class="card-footer">
      <div class="btn-toolbar">
        <div class="btn-group mr-2" *ngIf="article.buy">
          <button class="btn btn-primary" (click)="buy()">Buy</button>
        </div>
        <div class="btn-group mr-2" *ngIf="!article.buy">
          <button class="btn btn-danger" (click)="read()">Read</button>
        </div> 
      </div>
    </div>
  </div>
</div>

